albumentations
chardet
faster-coco-eval
lap
loguru
matplotlib
numpy
onnx
onnxruntime
onnxslim
opencv_contrib_python
opencv_python
opencv_python_headless
pandas
Pillow
pycocotools
pydantic
scipy
seaborn
setproctitle
tabulate
tensorboard
toml
torch==2.5.1+cu124
torchmetrics[detection]
torchvision==0.20.1+cu124
