albumentations
chardet
Kivy
lap
loguru
matplotlib
numpy
onnx
onnxruntime
onnxslim
opencv_contrib_python
opencv_python
opencv_python_headless
pandas
Pillow
psutil
ptflops
pycocotools
PyYAML
scikit_learn
scipy
seaborn
setproctitle
tabulate
toml
torch
torchmetrics[detection]
torchvision
